<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
	<appender name="icrm"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/proptiger/icrm/icrm.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/var/log/proptiger/icrm/icrm-%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<append>true</append>
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS} %thread %-5level %X{sessionHash} %C:%L]
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="icrmApi"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/proptiger/icrm/icrmApi.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/var/log/proptiger/icrm/icrmApi-%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<!-- keep 15 days' worth of history -->
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>trace</level>
		</filter>
		<append>true</append>
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS} %thread %-5level %X{sessionHash} %C:%L]
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS} %thread %-5level %X{sessionHash} %C:%L]
				%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org">
		<level value="ERROR" />
	</logger>
	<logger name="com.mchange.v2">
		<level value="INFO" />
	</logger>
	<logger name="springfox">
		<level value="ERROR" />
	</logger>
	<logger name="com.proptiger.icrm.filter">
		<level value="trace" />
		<appender-ref ref="icrmApi" />
	</logger>

	<root level="debug">
		<appender-ref ref="icrm" />
	</root>
</configuration>
